<dx-data-grid
  id="gridContainer"
  [dataSource]="produtos"
  [showBorders]="true"
  (onRowRemoved)="onRowRemoved($event)"
  (onRowInserted)="onRowInserted($event)"
  (onRowUpdated)="onRowUpdated($event)"
>
  <dxo-editing
    mode="row"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
  >
  </dxo-editing>
  <dxi-column dataField="codigo">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="descricao">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="valorUnidade">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>

</dx-data-grid>
